<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>homePage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>View_user</servlet-name>
        <servlet-class>IoTBay.model.controller.View_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewItemServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.AddNewItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteItemServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.DeleteItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchItemServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.SearchItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowInventoryServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.ShowInventoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItemServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.UpdateItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserOrderServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.UserOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCartServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.UserCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateStaffServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.CreateStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateStaffServlet</servlet-name>
        <url-pattern>/CreateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditStaffServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.EditStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditStaffServlet</servlet-name>
        <url-pattern>/EditStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchStaffServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.SearchStaffServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchStaffServlet</servlet-name>
        <url-pattern>/SearchStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>View_user</servlet-name>
        <url-pattern>/View_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewItemServlet</servlet-name>
        <url-pattern>/AddNewItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteItemServlet</servlet-name>
        <url-pattern>/DeleteItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchItemServlet</servlet-name>
        <url-pattern>/SearchItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowInventoryServlet</servlet-name>
        <url-pattern>/ShowInventoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItemServlet</servlet-name>
        <url-pattern>/UpdateItemServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>IoTBay.model.controller.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkLogin</servlet-name>
        <servlet-class>IoTBay.model.controller.checkLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateController</servlet-name>
        <servlet-class>IoTBay.model.controller.updateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userController</servlet-name>
        <servlet-class>IoTBay.model.controller.userController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkLogin</servlet-name>
        <url-pattern>/checkLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateController</servlet-name>
        <url-pattern>/updateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userController</servlet-name>
        <url-pattern>/userController</url-pattern>
    </servlet-mapping>
    <!--=========Start of Payment Management========-->
    <servlet>
        <servlet-name>Payment_CreateServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.Payment_CreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Payment_CreateServlet</servlet-name>
        <url-pattern>/Payment_CreateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Payment_EditServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.Payment_EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Payment_EditServlet</servlet-name>
        <url-pattern>/Payment_EditServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Payment_UpdateServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.Payment_UpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Payment_UpdateServlet</servlet-name>
        <url-pattern>/Payment_UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Payment_SearchServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.Payment_SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Payment_SearchServlet</servlet-name>
        <url-pattern>/Payment_SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Payment_DeleteServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.Payment_DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Payment_DeleteServlet</servlet-name>
        <url-pattern>/Payment_DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Payment_ShowHistoryServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.Payment_ShowHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Payment_ShowHistoryServlet</servlet-name>
        <url-pattern>/Payment_ShowHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Payment1_CreateOrderServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.Payment1_CreateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment1_CreateUserServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.Payment1_CreateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment1_LoginServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.Payment1_LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Payment1_LogoutServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.Payment1_LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Payment1_LogoutServlet</servlet-name>
        <url-pattern>/Payment1_LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment1_LoginServlet</servlet-name>
        <url-pattern>/Payment1_LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment1_CreateUserServlet</servlet-name>
        <url-pattern>/Payment1_CreateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Payment1_CreateOrderServlet</servlet-name>
        <url-pattern>/Payment1_CreateOrderServlet</url-pattern>
    </servlet-mapping>
    <!--=======End of Payment Management=========-->
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderLineServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.OrderLineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityUp</servlet-name>
        <servlet-class>IoTBay.model.controller.QuantityUp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuantityDown</servlet-name>
        <servlet-class>IoTBay.model.controller.QuantityDown</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.ShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinishOrderServlet</servlet-name>
        <servlet-class>IoTBay.model.controller.FinishOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistory</servlet-name>
        <servlet-class>IoTBay.model.controller.OrderHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderLines</servlet-name>
        <servlet-class>IoTBay.model.controller.GetOrderLines</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrder</servlet-name>
        <servlet-class>IoTBay.model.controller.DeleteOrder</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderLineServlet</servlet-name>
        <url-pattern>/OrderLineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityUp</servlet-name>
        <url-pattern>/QuantityUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuantityDown</servlet-name>
        <url-pattern>/QuantityDown</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingServlet</servlet-name>
        <url-pattern>/ShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinishOrderServlet</servlet-name>
        <url-pattern>/FinishOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistory</servlet-name>
        <url-pattern>/OrderHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderLines</servlet-name>
        <url-pattern>/GetOrderLines</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrder</servlet-name>
        <url-pattern>/DeleteOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/HomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserOrderServlet</servlet-name>
        <url-pattern>/UserOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCartServlet</servlet-name>
        <url-pattern>/UserCartServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
               30
           </session-timeout>
    </session-config>
</web-app>
